<div class="swiper mySwiper home-slider"><!--home-slider start-->

    <div class="swiper-wrapper wrapper"> <!--wrapper start-->


        
        {% for slider in sliders %}
        <div class="swiper-slide slide">

            <div class="image">

                <a href="{{slider.destination}}">
                    {% if slider.image_link %}
                        <img src="{{slider.image_link}}" alt="{{slider.title}}">

                    {% else %}
                    <img src="{{slider.banner.url}}" alt="{{slider.title}}">
                    {% endif %}
                </a>

            </div>

        </div>
        {% endfor %}
        


    </div><!--wrapper End-->

    <div class="swiper-pagination"></div>

</div><!--home-slider End-->