<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/favicon/favicon.svg">
    <title>{% block title %}{% endblock title %}{% if request.path != '/' %} | ShadhinAi{% endif %}</title><!--title-->
    <link rel="canonical" href="https://{{site_domain}}{{request.path}}" /><!--canonical start-->


    <!-- Meta Contant Start -->
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="google-site-verification" content="W-o-P3E4t8ZS8stlZ_vt7lXIKRuXnJA2F9_ARvCJYoc" />

    <!-- Facebook Meta Tags -->
    
    <meta property="og:url" content="https://{{site_domain}}">
    <meta property="og:site_name" content="{{logo.brand_name}}">
    

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://{{site_domain}}">


    {% block meta_all_details %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="ShadhinAi | Bangladeshi AI service provider">
    <meta property="og:description" content="Shadhin Ai is Bangladeshi AI and ML service provider. ShadhinAi ensures freedom of technology.">
    
    <meta name="twitter:title" content="ShadhinAi | Bangladeshi AI service provider">
    <meta name="twitter:description" content="Shadhin Ai is Bangladeshi AI and ML service provider. ShadhinAi ensures freedom of technology.">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/logo/ShadhinAi-Square.svg">
    <meta name="twitter:image:alt" content="ShadhinAi Bangladeshi AI service provider">




    <meta property="og:image:type" content="image/svg" /> 
    <meta property="og:image" content="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/logo/ShadhinAi-Square.svg">
    <meta property="og:image:url" content="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/logo/ShadhinAi-Square.svg">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/logo/ShadhinAi-Square.svg">


    {% endblock meta_all_details %}
    <!-- Meta Contant End -->

    


    <script src="https://kit.fontawesome.com/57947015ac.js" crossorigin="anonymous"></script><!--Font Awesome-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ShadhinAi/ShadhinAi@main/public/static/css/style.css">
    {% block custom_css %}{% endblock custom_css %}<!--custom_css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ShadhinAi/ShadhinAi@main/public/static/css/media.css">

</head>





<body>


    {% block scrolling_text %}{% endblock scrolling_text %}<!--scrolling_text-->
    {% include '../base/header.html' %}





    <section class="main header-padding">

        <main>




            <div class="main-content"><!--main-content start-->

                {% include "../base/alert.html" %}
                {% block main_content %}{% endblock main_content %}

            </div><!--main-content end-->











            <div class="side-content"><!--side-content start-->
                {% include '../base/categories.html' %}

                <div class="popular-post"><!--popular-post start-->




                    {% include '../base/sideContent.html' %}



                </div><!--popular-post end-->





            </div><!--side-content end-->

        </main>

    </section>





    {% include '../base/footer.html' %}
    <!--Schema Start -->
    {% block schema %}{% endblock schema %}
    <!--Schema End -->

</body>

{% block custom_script %}{% endblock custom_script %}
<script src="https://cdn.jsdelivr.net/gh/ShadhinAi/ShadhinAi@main/public/static/js/main.js"></script>

</html>