{% load static %}
<section class="header"><!--header section start-->

    <header>

        <div class="logo">
            
            {% if logo.image_link %}
            <a href="https://shadhinai.com/"><img src="{{logo.image_link}}" alt="{{logo.brand_name}} | logo"></a>

            {% elif logo.brang_logo %}
            <a href="https://shadhinai.com/"><img src="{{logo.brang_logo}}" alt="{{logo.brand_name}} | logo"></a>

            {% else %}
            <a href="https://shadhinai.com/"><h1>{{logo.brand_name}}</h1></a>
            {% endif %}
            
            
        </div>

        <div class="menu">

            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'blogs' %}">Blogs</a></li>
                    <li><a href="{% url 'python_link_shortener_online' %}">Projects</a></li>
                    
                </ul>
            </nav>

        </div>


        <div class="search-bar">

            <form action="{% url 'search_blogs' %}" method="GET">
                <input name="q" type="search" placeholder="Search..." required>
                <button type="submit"><i class="fas fa-search" id="search-btn"></i></button>
            </form>

        </div>








        <div class="taggle-menu"><!--taggle-menu start-->

            <div class="user-profile"><!--user-profile start-->

                <div class="profile-photo">

                    {% if request.user.is_authenticated %}

                        {% if user.get_profile_picture %}
                        <a href="{% url 'profile' %}"><img src="{{user.get_profile_picture}}" alt="{{user.username}}"></a>

                        {% else %}
                        <a href="{% url 'profile' %}"><img src="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/user/user.png" alt="{{user.username}}"></a>
                        {% endif %}
                    

                    {% else %}
                    <a href="{% url 'login' %}"><img src="https://raw.githubusercontent.com/ShadhinAi/ShadhinAi/main/public/media/user/user.png" alt="Shadhin Ai user profile photo"></a>
                    {% endif %}

                </div>

            </div><!--user-profile end-->



            <div class="taggle-menu-bar">
                <i id="taggle-bar" class="fa-solid fa-bars"></i>
            </div>

            <div class="taggle-menu-items display-none">

                <ul>


                    <li><span id="dripdown1icon"><i class="fa-solid fa-caret-down"></i></span><a href="https://shantonuacharjee.pythonanywhere.com/blogs">Blogs</a>

                        <ul class="dripdown1 display-none">
                            <li><a href="https://shantonuacharjee.pythonanywhere.com/tag/arduino">Arduino Blogs</a></li>
                            
                        </ul>

                    </li>


                    
                

                    {% for category in categories %}
                    <li><a href="{% url 'category_blogs' category.slug  %}">{{category.title}}</a></li>
                    {% endfor %}



                    {% if request.user.is_authenticated %}
                    <li><span id="dripdown2icon"><i class="fa-solid fa-caret-down"></i></span><a href="{% url 'profile' %}">
                        Profile</a>

                        <ul class="dripdown2 display-none">
                            <li><a href="{% url 'profile' %}">My Profile</a></li>
                            <li><a href="{% url 'user_notifications' %}">
                                {% if unseen > 0 %}
                                    {{unseen}}
                                {% endif %}
                                Notification</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>

                    </li>

                    {% else %}

                    <li><a href="{% url 'login' %}">Login</a></li>

                    {% endif %}

                    

                </ul>


            </div>

        </div><!--taggle-menu end-->

    </header>




</section><!--header section end-->