{% extends '../base/base.html' %}
{% block title %}Your Ultimate Search Destination{% endblock title %}
{% block meta_description %}Discover the best search results with ShadhinAi which delivers accurate and relevant information from across the web.{% endblock meta_description %}







{% block custom_css %}<!--custom_css start-->
<style>
    /*-------------------------------------------
    main-post start
    --------------------------------------------*/
    .main-post h1 {

        padding: 10px 0;
        font-size: 25px;
        text-align: center;
    }

    .main-post-carts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;


    }

    .main-post-cart {
        background: var(--gray-light);
        border-radius: 5px;
        overflow: hidden;
    }





    .main-post-cart .post-title h3 {
        font-size: 16px;
        padding: 5px;
    }



    .post-date-time {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .post-date-time small {
        font-size: 12px;
        color: var(--gray);
    }


    .post-date-time small i {
        color: var(--green);
        margin-right: 2px;
    }




    /*-------------------------------------------
    main-post end
    --------------------------------------------*/
</style>
{% endblock custom_css %}<!--custom_css end-->



{% block main_content %}


<div class="main-post"> <!--main-post start-->


    <h1>Your Search Result</h1>
    {% include '../blogs/blogPosts.html' %}


</div><!--main-post end-->

{% endblock main_content %}